#! /bin/sh
usage_exit() {
echo "Usage: $0 <dictionary file name>"
exit 1
}

if [ $# -ne 1 ]; then
	usage_exit
fi

DIC_FILE=$1

# {{DICTDATADIR}} is replaced by Makefile.am.
julius -w $DIC_FILE -quiet -C {{DICTDATADIR}}/default.jconf
