Package: ome2023
Version: 0.1.0-1
Architecture: amd64
Maintainer: Yohei Shimmyo <d8221101@u-aizu.ac.jp>
Installed-Size: 10
Depends: libasound2, libcurl4, libegl1-mesa, libgles2, libglew2.1, libgtk2.0-0, libsdl2-2.0-0, libsdl2-image-2.0-0, libsdl2-mixer-2.0-0, libsdl2-ttf-2.0-0, zlib1g
Section: misc
Priority: optional
Homepage: https://github.com/OmeSatoFoundation/ome2023
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
