[submodule "contrib/Julius"]
	path = contrib/Julius
	url = git@github.com:julius-speech/julius.git
[submodule "contrib/OpenHSP"]
	path = contrib/OpenHSP/OpenHSP
	url = git@github.com:OmeSatoFoundation/OpenHSP.git
